.cart-header {
  padding-top: 0.5rem;
}

.orders {
  margin: 2rem 0 0 0;
  min-height: calc(100vh - 10rem);
}

.orders-heading,
.orders-total {
  width: 100%;
  max-width: 600px;
}

.orders-heading {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #009933;
}

.paysection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  
}

.orders-total {
  margin-left: auto;
  margin-top: 1rem;
  text-align: right;
  border-top: 2px solid #009933;
}