main {
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-column-gap: 2rem ;
    grid-row-gap: 5rem;
}
@media screen and (max-width : 935px) {
    main {
        grid-template-columns: repeat(4, 1fr);

    }
}

@media screen and (max-width : 735px) {
    main {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media(max-width : 535px) {
    main {
        grid-template-columns: repeat(2, 1fr);

    }
}
@media(max-width : 335px) {
    main {
        grid-template-columns: repeat(1, 1fr);

    }
}